git ls-files --others --exclude-from=.git/info/exclude
.idea
/appdata/app.db
/appdata/test.db
configuration/__pycache__/
dialogs/__pycache__/
models/__pycache__/
models/builders/__pycache__/
resources/__pycache__/
util/__pycache__/
